<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="LOG4J"/>
  </settings>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
    
    	<!-- use oracle  	
	    <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="FD20180816B"/>
        <property name="password" value="FD20180816B"/> -->
		<!-- use sqllite -->
        <property name="driver" value="org.sqlite.JDBC"/>
        <property name="url" value="jdbc:sqlite::resource:mybatis/gz.db"/>
        
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/gz/javastudy/sellticket/TicketMapper.xml"/>
  </mappers>
</configuration>