<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gz.javastudy.sellticket.repository.TicketDao">
  <select id="selectTicket" resultType="com.gz.javastudy.sellticket.domain.Ticket">
    select * from ticket
  </select>
  
  <update id="updateTicket" parameterType="com.gz.javastudy.sellticket.domain.Ticket">
  	update ticket set id=#{id}
  </update>
  
</mapper>